ServicioPaginasWeb/App_WebReferences/ServiceConexionR/ServiciosRutas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosRutas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55275/ServiciosRutas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55275/ServiciosRutas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55275/ServiciosRutas.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosRutas_GetAllRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRuta" />
  </wsdl:message>
  <wsdl:message name="IServiciosRutas_GetAllRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRutaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosRutas_FillDataRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:FillDataRuta" />
  </wsdl:message>
  <wsdl:message name="IServiciosRutas_FillDataRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillDataRutaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosRutas_EraseDataRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:EraseDataRuta" />
  </wsdl:message>
  <wsdl:message name="IServiciosRutas_EraseDataRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EraseDataRutaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosRutas_GetRutaEspecifico_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRutaEspecifico" />
  </wsdl:message>
  <wsdl:message name="IServiciosRutas_GetRutaEspecifico_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRutaEspecificoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiciosRutas">
    <wsdl:operation name="GetAllRuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosRutas/GetAllRuta" message="tns:IServiciosRutas_GetAllRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosRutas/GetAllRutaResponse" message="tns:IServiciosRutas_GetAllRuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillDataRuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosRutas/FillDataRuta" message="tns:IServiciosRutas_FillDataRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosRutas/FillDataRutaResponse" message="tns:IServiciosRutas_FillDataRuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EraseDataRuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosRutas/EraseDataRuta" message="tns:IServiciosRutas_EraseDataRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosRutas/EraseDataRutaResponse" message="tns:IServiciosRutas_EraseDataRuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRutaEspecifico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosRutas/GetRutaEspecifico" message="tns:IServiciosRutas_GetRutaEspecifico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosRutas/GetRutaEspecificoResponse" message="tns:IServiciosRutas_GetRutaEspecifico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiciosRutas" type="tns:IServiciosRutas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRuta">
      <soap:operation soapAction="http://tempuri.org/IServiciosRutas/GetAllRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataRuta">
      <soap:operation soapAction="http://tempuri.org/IServiciosRutas/FillDataRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EraseDataRuta">
      <soap:operation soapAction="http://tempuri.org/IServiciosRutas/EraseDataRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRutaEspecifico">
      <soap:operation soapAction="http://tempuri.org/IServiciosRutas/GetRutaEspecifico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosRutas">
    <wsdl:port name="BasicHttpBinding_IServiciosRutas" binding="tns:BasicHttpBinding_IServiciosRutas">
      <soap:address location="http://localhost:55275/ServiciosRutas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>